/* Existing styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Wendy+One&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

.navBar {
    width: 100%;
    min-height: 3rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CBCFD8;
    padding: 0 1rem; 
    box-sizing: border-box; 
    position: fixed;
    z-index: 10;
}

.navLeft {
    
    cursor: pointer;
}
.navLogo{
    width:3rem;
    height: 3rem;
}

.navRight {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem; 
    align-items: center;
}


.content {
    font-size: 1rem;
    cursor: pointer;
}

#navItem:hover {
    text-decoration: underline;
}

.contactButton {
    width: 7rem;
    height: 1.9rem;
    background-color: #F59926;
    border-radius: 5px;
    font-size: 1.1rem;
    border: none;
    font-weight: bold;
    text-align: center;
}

/* New styles for hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
}

@media (max-width: 768px) {
    .navBar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 1rem; 
    }

    .navRight {
        display: none; /* Hide the navRight by default */
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
        position: absolute; /* Position absolutely */
        top: 3.5rem; /* Adjust top value to position below the navbar */
        left: 0;
        background-color: #CBCFD8; /* Ensure background color matches */
        padding: 1rem;
    }

    .navLeft {
        margin-bottom: 0; /* Ensure no margin bottom on smaller screens */
    }

    .content {
        font-size: 0.9rem; 
    }

    .contactButton {
        width: 5rem; 
        height:1.5rem;
        text-align: center;
        font-size: 0.8rem; 
    }

    .hamburger {
        display: flex; /* Show the hamburger menu */
    }

    .navRight.active {
        display: flex; /* Show the navRight when active */
    }
}
